body {
  background-color: rgb(159, 125, 202);
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

/* .game-board {
  padding-top: 20px;
} */

.square {
  width: 150px;
  height: 150px;
  font-size: 110px;
  font-weight: bold;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(189, 187, 187);
  
}

/* .game-info {
  margin-left: 20px;
} */

.game-info > div {
  font-size: 50px;
  padding-top: 30px;
}

.board-row {
  display: flex;
  padding: 5px;
}

.board-row .square {
  margin-right: 10px;
  
}

.board-row::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
font-size: 50px;
}

.square:hover {
  background-color: #ccc; /* Change background color on hover */
}